@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-Geist: "Geist", "sans-serif"
}

:root {
  --primario: #2e2791;
  --secundario: #777588;
  --tersario: #a5907b;
  --oscuro: #0b090c;
  --claro: rgb(247, 247, 247);
}

body {
  @apply font-Geist
}